src/main/resources/xsd/mySchema-v1_1.xsd

<xs:schema attributeFormDefault="unqualified" targetNamespace="mySchema" version="1.1" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SimpleXmlRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:byte" name="bio" minOccurs="0"/>
                <xs:element type="xs:string" name="gender"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>