src/main/resources/xsd/mySchema-v1_1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.1" targetNamespace="mySchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SimpleXmlRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:byte" name="bio" minOccurs="0"/>
                            <xs:element type="xs:string" name="gender">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RejectResponse" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RespGrp">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="ErrorData"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>